body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: #61dafb;
}

#message {
  font-size: 48px;
  color: #333;
}

#timer {
  font-size: 72px;
  color: #61dafb;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#toggleButton {
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: #282c34;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

#toggleButton:hover {
  background-color: #21a1f1;
}

#toggleButton:active {
  transform: scale(0.95);
}

#pauseButton {
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ffb74d;
  border: none;
  border-radius: 5px;
  color: #282c34;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  display: none;
}

#pauseButton:hover {
  background-color: #ffa726;
}

#pauseButton:active {
  transform: scale(0.95);
}

#stopButton {
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #e57373;
  border: none;
  border-radius: 5px;
  color: #282c34;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  display: none;
}

#stopButton:hover {
  background-color: #d64d4d;
}

#stopButton:active {
  transform: scale(0.95);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.timer-container {
  text-align: center;
}

.timer {
  width: 150px;
  height: 150px;
  border: 5px solid #ddd;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;
  font-size: 2rem;
  color: #e57373;
}

.start-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #e57373;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
}

.start-button:hover {
  background-color: #d64d4d;
}